vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|31 May 2012 20:04:55 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|fileShare/public/StylingHolder/filedropper.html fileShare/public/StylingHolder/Index.html fileShare/public/StylingHolder/fileView.html
vti_author:SR|Brandon-PC\\Brandon
vti_modifiedby:SR|Brandon-PC\\Brandon
vti_timecreated:TR|17 May 2012 07:25:44 -0000
vti_nexttolasttimemodified:TW|31 May 2012 20:02:18 -0000
vti_cacheddtm:TX|31 May 2012 20:02:18 -0000
vti_filesize:IR|4129
vti_cachedlinkinfo:VX|S|../images/beach_background.jpg S|/images/notification_done.png
vti_cachedsvcrellinks:VX|FSUS|fileShare/public/images/beach_background.jpg NSUS|/images/notification_done.png
